.products{

  border: 1px solid;
  background-color: white;
  border-radius: 5px;
  padding: 16px;
  margin: 20px 30px;

}


  .button {
    background: #6394F8;
    color:white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    display: block;
    border-radius: 3px;
    font-size: 16px;
    margin: 25px 0 15px 0;
}

#product{

  margin-bottom: 30px;
}
 .button:visited {
      text-decoration: none;
      color: white;
  }
  .button:hover {
    background: #7fa9ff;
    text-decoration: none;
    color: white;
  }
  .button:active {
    text-decoration: none;
    color: white;
  }
  .btn-danger {
      font-size: 12px;
      padding: 3px;
      text-align: center;
  }
  .btn-danger:hover {
      text-decoration: none;
  }
  .btn-info{
    color:white;
  }
  a {
      text-decoration: none;
  }
  a:hover {
      text-decoration: none;
  }
  h3 {
      margin-top: 0px;
  }


